
			   body {
			font-family: Arial, sans-serif;
			background-color: #f4f4f4;
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			height: max-content;
			overflow-x: hidden;
			overflow-y: auto;
		}

        .container-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

			.container {
			background-color: #fff;
			padding: 20px;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			text-align: left;
			margin: 15px;
			max-width: 400px;
			width: 100%;
		}

        .input-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .input-group label,
        .input-group input {
            width: 48%;
        }

        input {
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            width: 100%;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 3px;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #45a049;
        }

        hr {
            margin: 20px 0;
            border: 0;
            border-top: 1px solid #ccc;
        }

        input[readonly] {
            background-color: #eee;
        }

        @media only screen and (max-width: 600px) {
            .container {
                max-width: 100%;
            }

            .input-group label,
            .input-group input {
                width: 100%;
                margin-bottom: 10px;
            }
        }

h1 {

    text-align: center;
}